body{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("background6.jpg");
    background-size: 1550px 1152px;
    background-attachment:fixed;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: red;
}

.make_res
{
  margin: auto;
  width: 15%;
  border: 3px solid gold;
  padding: 10px;
}

h2{
    color: gold;
}

.packages {
  background-color: ivory;
  width: 500px;
  border: 3px solid teal;
  padding: 20px;
  margin: 20px;
}

td{
    color:gold;
}

h4{
    color: gold;
}
