body{
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5) ), url("login_background.jpg");
    background-size: 1600px 1152px;
        background-attachment:fixed;

}

.password{
  margin: auto;
  width: 19%;
  border: 3px solid gold;
  padding: 10px;
}

h2{
    color: gold;
    
}

td{
    color: gold;
}

a{
    color:white;
}